.body {
	background-color: #000;
	background-image: url("../images/bg.jpg");
	background-size: cover;
	background-position: top center;
}


/* Type */

.body, .input, .select, .textarea {
	color: rgba(255, 255, 255, 0.65);
	font-family: "Source Sans Pro", Helvetica, sans-serif;
	font-size: 13pt;
	font-weight: 200;
	line-height: 1.65;
}

@media(max-width: 1280px) {
	.body, .input, .select, .textarea {
		font-size: 12pt;
	}
}

.a {
	color: inherit;
	text-decoration: none;
	border-bottom: dotted 1px rgba(255, 255, 255, 0.35);
}

.a:hover {
	color: #ffffff;
	border-bottom-color: transparent;
}

.strong, .b {
	color: #ffffff;
	font-weight: 200;
}


.h1, .h2, .h3, .h4, .h5, .h6 {
	color: #ffffff;
	font-weight: 200;
	line-height: 1.5;
	margin: 0 0 1em 0;
}

.h1 {
	font-size: 1.75em;
}

@media screen and (max-width: 1280px) {
	.h1 {
		font-size: 1.5em;
	}

}

@media screen and (max-width: 768px) {
	.h1 {
		font-size: 1.25em;
	}

}

/* Form */

.form {
	margin: 0 0 2em 0;
}

.label {
	color: #ffffff;
	display: block;
	font-size: 0.9em;
	font-weight: 200;
	margin: 0 0 1em 0;
}

input[type="text"],
input[type="date"],
input[type="password"],
input[type="email"],
input[type="tel"],
.select,
.textarea {
	appearance: none;
	background: rgba(255, 255, 255, 0.075);
	border-radius: 4px;
	border: none;
	border: solid 1px rgba(255, 255, 255, 0.25);
	color: inherit;
	display: block;
	outline: 0;
	padding: 0 1em;
	text-decoration: none;
	width: 100%;
	box-sizing: border-box;
}

input[type="text"]:invalid,
input[type="date"]:invalid,
input[type="password"]:invalid,
input[type="email"]:invalid,
input[type="tel"]:invalid,
.select:invalid,
.textarea:invalid {
	box-shadow: none;
}

input[type="text"]:focus,
input[type="date"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
.select:focus,
.textarea:focus {
	border-color: #FF6382;
	box-shadow: 0 0 0 1px #FF6382;
}

.select-wrapper {
	text-decoration: none;
	display: block;
	position: relative;
}

.select-wrapper:before {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-transform: none !important;
}

.select-wrapper:before {
	color: rgba(255, 255, 255, 0.25);
	display: block;
	height: 2.75em;
	line-height: 2.75em;
	pointer-events: none;
	position: absolute;
	right: 0;
	text-align: center;
	top: 0;
	width: 2.75em;
}

.select-wrapper select::-ms-expand {
	display: none;
}

input[type="text"],
input[type="date"],
input[type="password"],
input[type="email"],
.select {
	height: 2.75em;
}

.textarea {
	padding: 0.75em 1em;
}

input[type="checkbox"],
input[type="radio"] {
	appearance: none;
	display: block;
	float: left;
	margin-right: -2em;
	opacity: 0;
	width: 1em;
	z-index: -1;
}

input[type="checkbox"] + label,
input[type="radio"] + label {
	text-decoration: none;
	color: rgba(255, 255, 255, 0.65);
	cursor: pointer;
	display: inline-block;
	font-size: 1em;
	font-weight: 200;
	padding-left: 2.4em;
	padding-right: 0.75em;
	position: relative;
}

input[type="checkbox"] + label:before,
input[type="radio"] + label:before {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-transform: none !important;
}

input[type="checkbox"] + label:before,
input[type="radio"] + label:before {
	background: rgba(255, 255, 255, 0.075);
	border-radius: 4px;
	border: solid 1px rgba(255, 255, 255, 0.25);
	content: '';
	display: inline-block;
	height: 1.65em;
	left: 0;
	line-height: 1.58125em;
	position: absolute;
	text-align: center;
	top: 0;
	width: 1.65em;
}

input[type="checkbox"]:checked + label:before,
input[type="radio"]:checked + label:before {
	background: #FF6382;
	border-color: #FF6382;
	color: #ffffff;
	content: 'X';
}

input[type="checkbox"]:focus + label:before,
input[type="radio"]:focus + label:before {
	border-color: #FF6382;
	box-shadow: 0 0 0 1px #FF6382;
}

input[type="checkbox"] + label:before {
	border-radius: 4px;
}

input[type="radio"] + label:before {
	border-radius: 100%;
}

::-webkit-input-placeholder {
	color: rgba(255, 255, 255, 0.35) !important;
	opacity: 1.0;
}

:-moz-placeholder {
	color: rgba(255, 255, 255, 0.35) !important;
	opacity: 1.0;
}

::-moz-placeholder {
	color: rgba(255, 255, 255, 0.35) !important;
	opacity: 1.0;
}

:-ms-input-placeholder {
	color: rgba(255, 255, 255, 0.35) !important;
	opacity: 1.0;
}

.formerize-placeholder {
	color: rgba(255, 255, 255, 0.35) !important;
	opacity: 1.0;
}

/* List */
.ul {
	list-style: disc;
	margin: 0 0 2em 0;
	padding-left: 1em;
}

.ul .li {
	padding-left: 0.5em;
	display: inline-block;
	padding: 0 1em 0 0;
}

.ul.icons {
	cursor: default;
	list-style: none;
	padding-left: 0;
}
			
/* Button */

input[type="submit"],
input[type="reset"],
input[type="button"],
.button,
.button {
	appearance: none;
	transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
	background-color: #FF6382;
	border-radius: 4px;
	border: 0;
	cursor: pointer;
	display: inline-block;
	font-weight: 200;
	height: 2.85em;
	line-height: 2.95em;
	padding: 0 1.5em;
	text-align: center;
	text-decoration: none;
	white-space: nowrap;
}

input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:hover,
.button:hover {
	background-color: #ff7c96;
}

input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active,
.button:active,
.button:active {
	background-color: #ff496e;
}

input[type="submit"].icon,
input[type="reset"].icon,
input[type="button"].icon,
.button.icon,
.button.icon {
	padding-left: 1.35em;
}

input[type="submit"].icon:before,
input[type="reset"].icon:before,
input[type="button"].icon:before,
.button.icon:before,
.button.icon:before {
	margin-right: 0.5em;
}

input[type="submit"].fit,
input[type="reset"].fit,
input[type="button"].fit,
.button.fit,
.button.fit {
	display: block;
	margin: 0 0 1em 0;
	width: 100%;
}


@media(max-width: 480px) {

	input[type="submit"],
	input[type="reset"],
	input[type="button"],
	.button,
	.button {
		padding: 0;
	}

}

/* Thumbnails */


.thumbnails .a {
	transition: all 0.3s ease;
	border-bottom: none;
	display: block;
	margin: 0 0 2em 0;
	text-align: center;
	border-radius: 4px;
	box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.25);
	background-color: rgba(255, 255, 255, 0.075);
	cursor: pointer;
	outline: 0;
	overflow: hidden;
}

.thumbnails .a .img {
	display: block;
	width: 100%;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.thumbnails .a .h3 {
	margin: 1em;
}


.thumbnails {
	display: flex;
	flex-direction: column;
	padding-left: 2em;
	position: relative;
	margin: 0 0 2em -2em;
}

/* Wrapper */

.wrapper {
	max-width: 68em;
	margin: 0 auto;
	padding: 0 2em;
	opacity: 1;
	filter: none;
	transition: opacity 1s ease, filter 1s ease;
}



/* Header */

.header {
	text-align: center;
	padding: 6em 0 4em 0;
}

.h1 {
	color: rgba(255, 255, 255, 0.65);
}

.avatar {
	border-radius: 100%;
	display: inline-block;
	margin: 0 0 2em 0;
	padding: 0.5em;
	border: solid 1px rgba(255, 255, 255, 0.25);
	background-color: rgba(255, 255, 255, 0.075);
}

.avatar .img {
	border-radius: 100%;
	display: block;
	width: 10em;
}

@media screen and (max-width: 1280px) {

	.header {
		padding: 4em 0 2em 0;
	}

}
