#content-textbox {
    box-sizing: border-box;
    resize: none;
    margin-bottom: 30px;
    text-align: top;
}

.title {
    text-align: center;
    font-size: 80px;
    padding: 1em 0 0 0;
}

.subtitle {
    font-size: 20px;
}

input, select {
    margin-bottom: 30px;
    /* background-color: transparent; */
}

#warning {
  color: red;
  font-style: italic;
  font-size: small;
}
#positive-warning {
  color: green;
  font-style: italic;
  font-size: small;
}

#list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    vertical-align: top;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.image {
    width: 30%;
    margin-left: 10px;
    margin-right: 10px;
}

@media(max-width: 1280px) {
  .image {
      width: 40%;
      margin-left: 10px;
      margin-right: 10px;
  }
}

@media(max-width: 768px) {
  .image {
      width: 100%;
      margin-left: 10px;
      margin-right: 10px;
  }
}


select.custom-select {
  color: red;
}