* {
  font-family: 'Open Sans', ;
  font-family: 'Lato', ;
}

.title {
    margin: 0p;
    font-family: 'Lato';
    font-size: 38px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.subtitle {
    color: #999;
    margin-bottom: 1em;
    font-family: 'Lato';
    font-size: 1.5em;
    text-transform: uppercase;
    text-align: center;
}

.menu {
    width: 990px;
    margin: 80px auto 0 auto;
    text-align: center;
}

.menu-item {
    display: inline-block;
    margin-right: 10px;
    margin-left: 20px;
    padding: 10px 40px 10px 40px;
    background-color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Lato';
    font-size: 14px;
    color: #999;
    vertical-align: bottom;
}

.menu-item-active {
    position: relative;
    bottom: -1px;
    color: #c0392b;
    padding: 15px 40px 15px 40px;
    margin-top: 0;
}

.resume-content {
    margin-right: 20px;
}

hr {
    margin-top: 25px;
    margin-bottom: 25px;
    border: 1px;
    border-color: #f1f1f1;
    border-style: solid;
}

.picture-container {
    flex-wrap: wrap;
    justify-content: space-between;
    /*align-content: space-between; */
}

@media (max-width: 990px) {
    .image {
        margin-bottom: 20px;
        width: calc(50% - 10px);
        height: calc(50% - 10px);
    }
}

@media (min-width: 990px) {
    .image {
        margin-bottom: 20px;
        width: calc(33% - 10px);
        height: calc(33% - 10px);
    }
}

@media (max-width: 768px) {
    .image {
        margin-bottom: 20px;
        width: calc(100% - 10px);
        height: calc(100% - 10px);
    }
}